- name: Deploy a simple app config (changes should reload nginx)
  ansible.builtin.copy:
    dest: /etc/nginx/conf.d/awx_app.conf
    content: |
      server {
          listen 8080;
          server_name localhost;
          location / {
            return 200 "Hello from awx_app!\n"
          }
      }
    owner: root
    group: root
    mode: "0644"
  notify: Reload nginx

- name: Deploy nginx config from jinja template
  vars:
    app_port: 8080
  ansible.builtin.template:
    src: templates/nginx.conf.j2
    dest: /etc/nginx/conf.d/awx_app.conf
    mode: "0644"
  notify: Reload nginx
