- name: Ansible playbook to implement various use cases
  hosts: AWS_EC2_Projects
  gather_facts: true
  become: true

  tasks:
    - name: Install Packages
      ansible.builtin.package:
        name:
          - vim
          - curl
          - nginx
        state: present

    - name: Enable and start nginx service
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true
