- name: Ansible playbook to implement various use cases
  hosts: i-06043056efbe7ee47
  gather_facts: true
  become: true

  tasks:
    - name: Install Required Packages and start nginx service
      roles:
       - common

    - name: Perform user and file related configurations
      roles:
       - users

    - name: Perform webserver related configurations
      roles:
       - webservers

  handlers:
    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded
        
