- name: Ansible playbook to implement various use cases
  hosts: i-06043056efbe7ee47
  gather_facts: true
  become: true

  tasks:
    - name: Install Required Packages and start nginx service
      ansible.builtin.include_role:
        name: common

    - name: Perform user and file related configurations
      ansible.builtin.include_role:
        name: users

    - name: Perform webserver related configurations
      ansible.builtin.include_role:
        name: webservers

  handlers:
    - name: Reload nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded
        