- name: Ansible playbook to implement various use cases
  hosts: i-06043056efbe7ee47
  gather_facts: true
  become: true

  tasks:
    - name: Install Packages
      ansible.builtin.package:
        name:
          - vim
          - curl
          - nginx
        state: present

    - name: Enable and start nginx service
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true

    - name: Create an user on the host
      ansible.builtin.user:
        name: awx_user
        shell: /bin/bash
        state: present

    - name: Create a file containing a welcome message
      ansible.builtin.copy:
        dest: /etc/motd
        content: "Welcome to this server! This is managed by AWX"  
        owner: root
        group: root
        mode: u=rw,g=r,o=r

    - name: Create a directory for application data
      ansible.builtin.file:
        path: /opt/awx_app
        state: directory
        owner: awx_user
        group: awx_user
        mode: u=rwx,g=rx,o=rx

    - name: Create an empty log file
      ansible.builtin.file:
        path: /opt/awx_app/app.log
        state: touch
        owner: awx_user
        group: awx_user
        mode: u=rw,g=r,o=
